$font-serif: Georgia, 'Times New Roman', Times, serif;
$font-sans-serif: 'Open Sans', sans-serif;

$color-nav-bg: #43705E;
$color-footer-bg: #1F332B;
$color-primary-green: #227051;
$color-light-green: #39BD88;
$color-link-hover: #48F0AC;
$color-error-red: #E54646;

$color-bg-grey: #E9E9E9;
$color-text-grey: #707070;
$color-text-grey-dark: #4A4A4A;
$color-text-grey-light: #A1A1A1;
$color-white: #FFFFFF;
